.vk-avatar-group {
  display: inline-flex;
  flex-wrap: nowrap;
}

.vk-avatar-group :deep(.vk-avatar) {
  margin-left: -8px;
  border: 2px solid #fff;
  transition: margin 0.3s ease;
}

.vk-avatar-group :deep(.vk-avatar:first-child) {
  margin-left: 0;
}
