.vk-avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;
}

.vk-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vk-avatar.is-circle {
  border-radius: 50%;
}

.vk-avatar.is-square {
  border-radius: 4px;
}
