.rate {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.rate-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.rate-character {
  display: inline-block;
  line-height: 1;
}

.rate-item:hover .rate-character {
  transform: scale(1.1);
}

.is-disabled .rate-item:hover .rate-character {
  transform: none;
}
