.ver-descriptions {
  .is-bordered {
    .ver-descriptions {
      &-item {
        padding: 8px 11px;
        background-color: var(--ver-info-100);
        border: 1px solid var(--ver-neutral-200);
      }
      &__label {
        color: var(--ver-info-600);
        font-weight: 700;
      }
      &__content {
        color: var(--ver-info-700);
        background-color: var(--ver-white);
      }
    }
  }
  .ver-descriptions {
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
    }
    &__title {
      color: var(--ver-info-700);
      font-size: 16px;
      font-weight: 700;
    }
    &__body {
      background-color: var(--ver-white);
      font-size: 14px;
    }
    &__table {
      border-collapse: collapse;
      width: 100%;
    }
    &__label {
      color: var(--ver-info-700);
      margin-right: 16px;
    }
    &__content {
      color: var(--ver-info-500);
    }
    &-item {
      padding-bottom: 12px;
    }
  }
  &--large {
    .ver-descriptions {
      &-item {
        padding-bottom: 16px;
      }
      &__header {
        margin-bottom: 20px;
      }
    }
    .is-bordered {
      .ver-descriptions {
        &-item {
          padding: 12px 15px;
        }
      }
    }
  }
  &--small {
    .ver-descriptions {
      &-item {
        padding-bottom: 8px;
      }
      &__header {
        margin-bottom: 12px;
      }
      &__title {
        font-size: 14px;
      }
    }
    .is-bordered {
      .ver-descriptions {
        &-item {
          padding: 4px 7px;
          font-size: 12px;
        }
      }
    }
  }
}
