.vk-flex {
  display: flex;
  flex-wrap: var(--vk-flex-wrap);
  justify-content: var(--vk-flex-justify);
  align-items: var(--vk-flex-align);
  gap: var(--vk-flex-gap);
  transition: all 0.3s;

  &--vktical {
    flex-direction: column;
  }
}
