.vk-tag {
  color: var(--theme-neutral-100, var(--vk-neutral-100));
  background-color: var(--theme-neutral-600, var(--vk-neutral-600));
  border-color: var(--theme-neutral-500, var(--vk-neutral-500));
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 24px;
  padding: 0 9px;
  border-width: 1px;
  line-height: 1;
  font-size: 12px;
  box-sizing: border-box;
  border-style: solid;
  border-radius: 4px;
}

/* round */
.vk-tag.is-round {
  border-radius: 50px;
}

.vk-tag.is-plain {
  color: var(--theme-primary-500, var(--vk-primary-500));
  border-color: var(--theme-primary-600, var(--vk-primary-600));
  background-color: transparent;
}

/* 状态样式 */
.vk-tag-primary {
  color: var(--theme-neutral-100, var(--vk-neutral-100));
  border-color: var(--theme-primary-500, var(--vk-primary-500));
  background-color: var(--theme-primary-500, var(--vk-primary-500));
}

.vk-tag-primary.is-plain {
  color: var(--theme-primary-500, var(--vk-primary-500));
  border-color: var(--theme-primary-500, var(--vk-primary-500));
  background-color: transparent;
}

.vk-tag-success {
  color: var(--theme-neutral-100, var(--vk-neutral-100));
  border-color: var(--theme-success-500, var(--vk-success-500));
  background-color: var(--theme-success-500, var(--vk-success-500));
}

.vk-tag-success.is-plain {
  color: var(--theme-success-500, var(--vk-success-500));
  border-color: var(--theme-success-500, var(--vk-success-500));
  background-color: transparent;
}

.vk-tag-warn {
  color: var(--theme-neutral-100, var(--vk-neutral-100));
  border-color: var(--theme-warn-500, var(--vk-warn-500));
  background-color: var(--theme-warn-500, var(--vk-warn-500));
}

.vk-tag-warn.is-plain {
  color: var(--theme-warn-500, var(--vk-warn-500));
  border-color: var(--theme-warn-500, var(--vk-warn-500));
  background-color: transparent;
}

.vk-tag-info {
  color: var(--theme-neutral-100, var(--vk-neutral-100));
  border-color: var(--theme-info-500, var(--vk-info-500));
  background-color: var(--theme-info-500, var(--vk-info-500));
}

.vk-tag-info.is-plain {
  color: var(--theme-info-500, var(--vk-info-500));
  border-color: var(--theme-info-500, var(--vk-info-500));
  background-color: transparent;
}

.vk-tag-error {
  color: var(--theme-neutral-100, var(--vk-neutral-100));
  border-color: var(--theme-error-500, var(--vk-error-500));
  background-color: var(--theme-error-500, var(--vk-error-500));
}

.vk-tag-error.is-plain {
  color: var(--theme-error-500, var(--vk-error-500));
  border-color: var(--theme-error-500, var(--vk-error-500));
  background-color: transparent;
}

/* size 属性 */
.vk-tag.is-xs {
  font-size: 6px;
  height: 10px;
  padding: 0px 7px;
}

.vk-tag.is-sm {
  font-size: 10px;
  height: 20px;
  padding: 0px 7px;
}

.vk-tag.is-lg {
  font-size: 16px;
  height: 32px;
  padding: 0px 11px;
}
