.ver-panel {
  --panel-padding: 20px;
  --panel-border-radius: 4px;
  --panel-margin-bottom: 15px;
  --panel-border-color: var(--theme-neutral-300, var(--vk-neutral-300));
  --panel-shadow: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --panel-shadow-dark: 0px 0px 12px rgba(255, 255, 255, 0.639);

  margin-bottom: var(--panel-margin-bottom);
  border-radius: var(--panel-border-radius);
  border: 1px solid var(--panel-border-color);
  background-color: #fff;
  padding: var(--panel-padding);
  transition: box-shadow 0.3s ease;

  .dark & {
    --panel-border-color: var(--theme-neutral-600, var(--vk-neutral-600));
    color: var(--theme-neutral-100, var(--vk-neutral-100));
    background-color: var(--theme-neutral-900, var(--vk-neutral-900));
  }
}

/* Shadow variants */
.ver-panel.is-shadow-always {
  box-shadow: var(--panel-shadow);
  .dark & {
    box-shadow: var(--panel-shadow-dark);
  }
}

.ver-panel.is-shadow-hover {
  &:hover {
    box-shadow: var(--panel-shadow);
    .dark & {
      box-shadow: var(--panel-shadow-dark);
    }
  }
}

.ver-panel.is-shadow-never {
  box-shadow: none;
}
