.vk-table {
  width: 100%;
  box-sizing: border-box;
}

.vk-table-wrapper {
  overflow-x: auto;
}

.vk-table-header,
.vk-table-body {
  display: block;
}
.vk-table-header {
  border-bottom: 1px solid #ebeef5;
}
.vk-table-header-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.vk-table-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.vk-table-header-cell,
.vk-table-row-cell {
  padding: 12px 16px;
  text-align: left;
}

.vk-table-header-cell {
  flex: 1;
  font-weight: bold;
}

.vk-table-row-cell {
  flex: 1;
}

.is-border {
  border: 1px solid #ebeef5;

  .vk-table-header {
    border-bottom: 0;
  }
}

.is-stripe {
  &:nth-child(2n) {
    background-color: #f7f7f7;
  }
}
.vk-table-row:hover {
  background-color: #f5f7fa;
}
