.vk-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.vk-image img {
  display: block;
  width: 100%;
  height: 100%;
}

.vk-image__placeholder,
.vk-image__error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f5f7fa;
  color: #909399;
}

.vk-image__placeholder-default,
.vk-image__error-default {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
