.vk-calendar {
  width: 100%;
  background: var(--theme-neutral-50, var(--vk-neutral-50));
  border: 1px solid var(--theme-neutral-200, var(--vk-neutral-200));
  border-radius: 4px;
  padding: 1.5rem;
  --vk-calendar-header-border-bottom: 1px solid
    var(--theme-neutral-200, var(--vk-neutral-200));
  --vk-calendar-cell-size: 85px;
}

.vk-calendar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px;
  border-bottom: 1px solid var(--theme-neutral-200, var(--vk-neutral-200));
}

.vk-calendar-title {
  color: var(--theme-neutral-900, var(--vk-neutral-900));
}

.vk-calendar-arrow:hover {
  color: var(--theme-primary-500, var(--vk-primary-500));
}

.vk-calendar-weeks {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  padding: 12px 0;
  color: var(--theme-neutral-600, var(--vk-neutral-600));
  border-bottom: 1px solid var(--theme-neutral-200, var(--vk-neutral-200));
}

.vk-calendar-dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 8px;
}

.vk-calendar-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  margin: 2px;
  width: var(--vk-calendar-cell-size);
  height: var(--vk-calendar-cell-size);
}

.vk-calendar-cell:hover {
  background: var(--theme-neutral-100, var(--vk-neutral-100));
}

.vk-calendar-cell-prev,
.vk-calendar-cell-next {
  color: var(--theme-neutral-400, var(--vk-neutral-400));
}

.vk-calendar-cell.is-selected {
  background: var(--theme-primary-500, var(--vk-primary-500));
  color: white;
}
