.ver-color-picker-add {
  vertical-align: top;
  border-radius: 5px;
  border: 1px solid var(--theme-neutral-200, var(--ver-neutral-200));
  color: var(--theme-neutral-300, var(--ver-neutral-300));
  background-color: var(--theme-neutral-800, var(--ver-neutral-800));
}

.ver-color-picker-container {
  transform: scale(0.9);
  transform-origin: center;
  pointer-events: none;
}

/* [pick-colors-theme='dark'] .ver-color-picker-add {
  border: 1px solid #434343;
  background-color: var(--theme-neutral-800, var(--ver-neutral-800));
} */

path {
  fill: var(--theme-neutral-800, var(--ver-neutral-800));
}

/* [pick-colors-theme='dark'] path {
  fill: #ffffff;
} */
