.ver-color-picker-fotmate {
  position: relative;
}
.ver-color-picker-fotmate-label {
  position: relative;
  width: 60px;
  height: 30px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: var(--theme-neutral-200, #999999);
  background-color: var(--theme-neutral-200, #e7e8e9);
}
/* [pick-colors-theme='dark'] .ver-color-picker-fotmate-label {
    color: #999999;
    background: #252930;
  } */
.ver-color-picker-fotmate-arrow {
  width: 6px;
  height: 6px;
  margin-left: 5px;
  margin-bottom: 4px;
  border-top: 1px solid var(--theme-neutral-200, #999999);
  border-right: 1px solid var(--theme-neutral-200, #999999);
  transform: rotate(135deg);
}
/* [pick-colors-theme='dark'] .ver-color-picker-fotmate-arrow {
  border-top: 1px solid #999999;
  border-right: 1px solid #999999;
} */
.ver-color-picker-fotmate-selector {
  padding: 4px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 400;
  color: var(--theme-neutral-200, #999999);
  background-color: var(--theme-neutral-200, #f7f8f9);
}
/* [pick-colors-theme='dark'] .ver-color-picker-fotmate-selector {
  color: #999;
  background: #252930;
} */
.ver-color-picker-fotmate-selector-item {
  height: 30px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-neutral-200, #fff);
  background-color: var(--theme-neutral-200, #f7f8f9);
  &:hover {
    background-color: var(--theme-neutral-200, #0087fa);
  }
}
/* [pick-colors-theme='dark'] .ver-color-picker-fotmate-selector-item {
  color: #fff;
  &:hover {
    background: #0087fa;
  }
} */
.active-selector-item {
  background-color: var(--theme-neutral-200, #e1f2fe);
}
/* [pick-colors-theme='dark'] .active-selector-item {
  background: #0087fa;
} */
.v-enter-active,
.v-leave-active {
  transition:
    opacity 200ms ease-in-out,
    transform 200ms ease-in-out;
  opacity: 1;
  transform: scaleY(1);
  transform-origin: center top;
}
.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: scaleY(0);
}
