.ver-color-picker-hue {
    position: relative;
    touch-action: none; /* 禁止默认的触摸行为（如页面滚动） */
}
  
.ver-color-picker-hue-slider {
    width: 100%;
    background: #fff;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    z-index: 1;
    pointer-events: none; /* 禁止滑块接受鼠标或触摸事件 */
}