.ver-color-picker {
  display: inline-block;
}

.ver-color-picker-color-item {
  margin: 5px;
}

.ver-color-picker-add-color-item {
  margin: 5px;
  display: inline-block;
}

.ver-color-picker-picker {
  overflow: hidden;
}

.v-enter-active,
.v-leave-active {
  transition:
    opacity 200ms ease-in-out,
    transform 200ms ease-in-out;
  opacity: 1;
  transform: scaleY(1);
  transform-origin: center top;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
  transform: scaleY(0);
}
