.ver-color-picker-fotmate-value {
  display: flex;
  font-size: 12px;
}

.ver-color-picker-fotmate-input {
  flex: 1;
  height: 30px;
  text-align: center;
  background: #eceef0;
  box-sizing: border-box;
  border: 1px solid var(--theme-neutral-200, #eceef0);
  color: var(--theme-neutral-300, #666666);
  background-color: var(--theme-neutral-800, #fff);
}
/* [pick-colors-theme='dark'] .value {
  background: #2e333a;
  border: 1px solid #2e333a;
  color: #ffffff;
} */
.ver-color-picker-fotmate-input:focus {
  outline: none;
  border: 1px solid #1890ff;
}
