.ver-color-picker-picker {
  background: #f7f8f9;
  border-radius: 4px;
  box-shadow: 0 0 16px 0 rgb(0 0 0 / 16%);
}
.ver-color-picker-picker-inner {
  padding: 10px;
  background-color: var(--theme-neutral-800, #fff);
}
/* [pick-colors-theme='dark'] .ver-color-picker-picker-inner {
    background: #1d2024;
    box-shadow: 0 0 16px 0 rgb(0 0 0 / 16%);
} */
.ver-color-picker-picker-header {
  display: flex;
  margin-bottom: 5px;
}
.ver-color-picker-hue {
  margin-left: 10px;
}
.ver-color-picker-alpha {
  margin-left: 10px;
}
.ver-color-picker-colors {
  margin-top: 5px;
}
