.vk-drawer-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  z-index: 2001;
  background-color: rgba(0, 0, 0, 0.5);
  .vk-drawer {
    position: absolute;
    width: 30%;
    height: 100vh;
    background-color: var(--theme-neutral-100, var(--vk-neutral-100));

    .dark & {
      background-color: var(--theme-neutral-800, var(--vk-neutral-800));
    }

    &_header {
      position: sticky;
      top: 0;
      display: flex;
      align-items: center;
      padding: 20px;
      padding-bottom: 10px;
      color: var(--theme-neutral-500, var(--vk-neutral-500));

      .dark & {
        color: var(--theme-neutral-200, var(--vk-neutral-200));
      }

      .vk-drawer_title {
        margin: 0;
        line-height: inherit;
        font-size: 1rem;
      }
      .vk-drawer_headerbtn {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 0;
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 16px;
      }
    }
    &_body {
      flex: 1;
      height: calc(100% - 80px);
      margin-left: 20px;
      margin-right: 20px;

      .dark & {
        color: var(--theme-neutral-300, var(--vk-neutral-300));
      }
    }
  }
}

.vk-drawer-left {
  .vk-drawer {
    animation: fade-left 0.3s;
    left: 0;
    width: 30%;
    height: 100%;
  }
}

.vk-drawer-right {
  .vk-drawer {
    animation: fade-right 0.3s;
    right: 0;
    width: 30%;
    height: 100%;
  }
}

.vk-drawer-top {
  .vk-drawer {
    animation: fade-top 0.3s;
    top: 0;
    width: 100%;
    height: 30%;
  }
}

.vk-drawer-bottom {
  .vk-drawer {
    animation: fade-bottom 0.3s;
    bottom: 0;
    width: 100%;
    height: 30%;
  }
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-top {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-bottom {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
