.vk-badge {
  --badge-height: 16px;
  --badge-dot-size: 8px;
  --badge-font-size: 12px;
  --badge-padding: 4px;
  --badge-bg-color: var(--theme-error-500, var(--vk-error-500));
  --badge-text-color: #fff;
  --badge-shadow: 0 0 0 2px #fff;
  --badge-border-radius: 9px;

  position: relative;
  display: inline-block;
}

.vk-badge [class^='vk-badge-'] {
  position: absolute;
  height: var(--badge-height);
  line-height: var(--badge-height);
  text-align: center;
  border-radius: var(--badge-border-radius);
  padding: 0 var(--badge-padding);
  font-size: var(--badge-font-size);
  color: var(--badge-text-color);
  background: var(--badge-bg-color);
  box-shadow: var(--badge-shadow);
}

.vk-badge-num,
.vk-badge-text {
  min-width: var(--badge-height);
  right: -8px;
  top: -8px;
}

.vk-badge-dot {
  right: 0;
  top: 0;
  width: var(--badge-dot-size);
  height: var(--badge-dot-size);
  padding: 0;
}
