.timeline {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
}

.timeline::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  background-color: var(--vk-neutral-200, #e8e8e8); /* 使用 VK 前缀变量 */
}

.timeline-reverse {
  flex-direction: column-reverse;
}

.timeline-pending::after {
  height: calc(100% - 14px);
}
