.vk-text {
  align-self: center;
  margin: 0;
  padding: 0;
  color: #606266;
  word-break: break-all;

  .dark & {
    color: var(--theme-neutral-100, var(--vk-neutral-100));
  }
}

.vk-text.is-truncated {
  display: inline-block;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@each $item in primary, success, warn, info, error {
  .vk-text-$(item) {
    color: var(--theme-$(item)-500, var(--vk-$(item)-500));

    .dark & {
      color: var(--theme-$(item)-500, var(--vk-$(item)-500));
    }
  }
}

@each $size, $fontsize in (lg, md, sm, xs), (16px, 14px, 12px, 10px) {
  .vk-text.is-$(size) {
    font-size: $(fontsize);
  }
}
